<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.letzunite.letzunite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".LetzUnitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeStatusTrans">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.tour.AppIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeStatusTrans"/>

        <activity
            android:name=".ui.user.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.main_home.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"/>

       <activity android:name=".ui.blood.BloodActivity"
           android:screenOrientation="portrait"
           android:theme="@style/TransparentTheme"/>



        <!--<activity-->
        <!--android:name=".aaatest.SampleActivity"-->
        <!--android:screenOrientation="portrait">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>